





#p1{
  font-family: cursive;
  color: black;
}
#p2{
  font-family:fantasy;
  color: blue;
}
#p3{
  font-family: cursive;
  color: black;
}
#p4{
  font-family: fantasy;
  color: blue;
}
#p5{
  font-family: cursive;
  color: black;
}
#p6{
  font-family: fantasy;
  color: blue;
}
#p7{
  font-family: cursive;
  color: black;
}
#p8{
  font-family: fantasy;
  color: blue;
}
#p9{
  font-family: cursive;
  color: black;
}
#p0{
  font-family: fantasy;
  color: blue;
}
#p11{
  font-family: fantasy;
  color: blue;
}
#a1{
  color: blue;
}
#a2{
  color: red;
}
#a3{
  color: red;
}
